.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.holder {
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px 30px  0px 0px ;
}

.item:nth-child(1) {
  background: palevioletred;
  order: -1;
  width: 50%;
  border-radius:  30px 0px 0px 0px;
}

.item:nth-child(5) {
  background: yellow;
  order: 1;
  width: 50%;
  border-radius: 0px 30px 0px 0px;
}

.item:nth-child(3) {
  background: purple;
  order: 2;
  width: 33.333%;
}

.item:nth-child(2) {
  background: rgb(58, 58, 183);
  order: 3;
  width: 33.333%;
}

.item:nth-child(4) {
  background: green;
  order: 4;
  width: 33.333%;
}
